body {
  /* background-image: url(https://image.myanimelist.net/ui/5LYzTBVoS196gvYvw3zjwBAS62lleijrhGHB-Tx5_KQ); */
}

#previous-btn {
  position: fixed;
  left: 10px;
  top: 300px;
}
#next-btn {
  position: fixed;
  right: 10px;
  top: 300px;
}

#homeButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #008cba; /* Blue background */
  color: white; /* White text */
  text-align: center; /* Centered text */
  text-decoration: none; /* No underline */
  font-size: 16px; /* Big font size */
  position: fixed; /* Fixed position - always stay at the top-right corner */
  top: 10px; /* Distance from top */
  right: 10px; /* Distance from right */
  border-radius: 12px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for hover state */
  z-index: 9999; /* Make sure it's on top of other elements */
}

#homeButton:hover {
  background-color: #4caf50; /* Green background on hover */
}
