body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #2b2b2b;
  color: #fff;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
img {
  width: 45%;
}
