body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #2b2b2b;
  color: #fff;
}
.mega-container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
img {
  width: 45%;
}