<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <title>Credits</title>
  </head>
  <body class="bg-dark text-white">
    <div class="container py-5">
      <h1 class="text-center">Credits</h1>
      <hr class="bg-white" />
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="linked-header">Icon:</h2>
          <a href="https://gifer.com/en/1FMl" target="_blank" rel="noopener">
            https://dribbble.com/shots/2993623-The-Matrix
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="linked-header">Loading GIF:</h2>
          <a href="https://gifer.com/en/1FMl" target="_blank" rel="noopener">
            https://gifer.com/en/1FMl
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
