<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/buttons.css') }}"
    />

    <title>Clustering App</title>
  </head>
  <body>
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white text-center">
              <h1>Clustering App</h1>
            </div>
            <div class="card-body">
              <h2 class="text-center">Spectral Clustering</h2>
              <form action="/index" method="post" class="py-4">
                <div class="form-group">
                  <label for="sample_size">Sample size:</label>
                  <input
                    type="number"
                    id="sample_size"
                    name="sample_size"
                    class="form-control"
                    min="1"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="clusters">Number of clusters:</label>
                  <input
                    type="number"
                    id="clusters"
                    name="clusters"
                    class="form-control"
                    min="1"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="noise">Noise:</label>
                  <input
                    type="number"
                    id="noise"
                    name="noise"
                    class="form-control"
                    min="0"
                    step="any"
                    required
                  />
                </div>
                <div
                  class="form-group custom-control custom-checkbox text-center"
                >
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="displayCheck"
                    name="display_mode"
                  />
                  <label class="custom-control-label" for="displayCheck"
                    >Check for step-by-step display</label
                  >
                </div>
                <div class="form-group text-center">
                  <input type="submit" value="Submit" class="btn-submit" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
