<!DOCTYPE html>
<html>
  <!-- <div id="preloader">
    <div id="status">&nbsp;</div>
  </div> -->
  <a href="/" id="homeButton">Home</a>
  <head>
    <title>Step5</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/preloader.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/step5.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/buttons.css') }}"
    />
  </head>
  <body>
    <button
      type="button"
      class="next-and-pre-btn"
      onclick="location.href='/step4'"
      id="previous-btn"
    >
      <
    </button>
    <div class="mega-container-5">
      <h2>Step 5: K-Means Label for Clustering</h2>
      <div class="container-5">
        <!-- <div>  -->

        <img
          src="{{ url_for('plot_step1', sample_size=sample_size, num_clusters=num_clusters, noise=noise) }}"
          alt="Image"
          class="center"
        />
        <!-- </div> -->
        <div>
          <h2>Label for each point:</h2>
          <div>
            {% for label in labels %}
            <p>Point {{ loop.index - 1 }}:&nbsp;&nbsp;&nbsp;{{ label }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="description">
          <h3>Description</h3>
          <div class="scrollable-textbox">
            <p>
              After we obtained the eigenvectors, we applied
              <a
                href="https://en.wikipedia.org/wiki/K-means_clustering"
                target="_blank"
                class="highlight-link"
                >k-means</a
              >
              to the normalized eigenvectors to get the cluster labels for
              corresponding points. The labels are then assigned to the original
              data points (nodes) as shown.
            </p>
          </div>
        </div>
      </div>
    </div>

    <button
      type="button"
      class="next-and-pre-btn"
      onclick="location.href='/step6'"
      id="next-btn"
    >
      >
    </button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
