<!DOCTYPE html>
<html>
  <!-- <div id="preloader">
    <div id="status">&nbsp;</div>
  </div> -->
  <head>
    <title>Step 4</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/preloader.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/step4.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/buttons.css') }}"
    />
  </head>
  <body>
    <button
      type="button"
      class="next-and-pre-btn"
      id="prev-btn"
      onclick="location.href='/step3'"
    >
      <
    </button>

    <div class="mega-container-4">
      <h2>Step4: Eigenvalues and Eigenvectors</h2>
      <div>
        <div class="container-4 my-4">
          <h3 class="text-center my-3">k largest Eigenvalues:</h3>
          <div class="row">
            {% for eigenvalue in eigenvalues %}
            <div class="col-md-4">
              <div class="eigenvalue-box p-3 my-2">
                <p class="mb-0">{{ eigenvalue }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="container-4 my-4">
          <h3 class="text-center my-3">k largest Eigenvectors:</h3>
          <div class="eigenvectors-container">
            {% for eigenvector in eigenvectors %}
            <div class="eigenvector-box p-3 my-2">
              {% for element in eigenvector %}
              <p class="mb-0">{{ element }}</p>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="container-4 my-4">
          <h3 class="text-center my-3">Normalized Eigenvectors:</h3>
          <div class="eigenvectors-container">
            {% for y in Y_normalized %}
            <div class="eigenvector-box p-3 my-2">
              {% for element in y %}
              <p class="mb-0">{{ element }}</p>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <button
      type="button"
      class="next-and-pre-btn"
      id="next-btn"
      onclick="location.href='/step5'"
    >
      >
    </button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
