<!DOCTYPE html>
<html>
  <!-- <div id="preloader">
    <div id="status">&nbsp;</div>
  </div> -->
  <head>
    <title>Image</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/preloader.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/step2.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/buttons.css') }}"
    />
  </head>
  <body>
    <button
      type="button"
      class="next-and-pre-btn"
      onclick="location.href='/step1'"
    >
      <
    </button>
    <div class="container-2">
      <h2>Step 2: Affinity Matrix</h2>
      <img src="{{ url_for('plot_step2') }}" alt="Image" class="center" />
    </div>
    <button
      type="button"
      class="next-and-pre-btn"
      onclick="location.href='/step3'"
    >
      >
    </button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
