<!DOCTYPE html>
<html>
  <!-- <div id="preloader">
    <div id="status">&nbsp;</div>
  </div> -->
  <a href="/" id="homeButton">Home</a>
  <head>
    <title>Step5</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/preloader.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/step6.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/buttons.css') }}"
    />
  </head>
  <body>
    <button
      type="button"
      class="next-and-pre-btn"
      onclick="location.href='/step4'"
      id="previous-btn"
    >
      <
    </button>
    <div class="container-6">
      <h2>
        Step 5: Assign row vectors as point from step 4 to graph(Only available
        for \(\leq 2\) clusters)
      </h2>
      <img
        src="{{ url_for('plot_step5') }}"
        alt="Not supported 3 or more dimension graph"
        class="center"
      />
      <div class="col-lg-8 mx-auto">
        <div class="description">
          <h3>Description</h3>
          <div class="scrollable-textbox">
            <p>
              Given the above, we have \(Y_{normalized}\) from gluding the
              ordered eigenvectors together. Namely, we have
              \(Y_{normalized}=[v_1^T,...,v_k^T]\). So we take the row vectors
              of \(Y_{normalized}\) and treat each vector as a point in a graph
              as shown above. We can see the points that are close together in
              terms of K-means centroid method, will be the correct partition we
              intend for the original graph. The red points will be the
              centroids for K-means. Points closer to 1 centroid will be grouped
              as one cluster.
            </p>
          </div>
        </div>
      </div>
    </div>

    <button
      type="button"
      class="next-and-pre-btn"
      onclick="location.href='/step6'"
      id="next-btn"
    >
      >
    </button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
  </body>
</html>
