<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/step6.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/buttons.css') }}"
    />
  </head>
  <body>
    <button
      class="next-and-pre-btn"
      onclick="location.href='/step5'"
      type="button"
    >
      <
    </button>
    <img src="{{ url_for('plot_step6') }}" alt="Image" class="center" />
    <button class="next-and-pre-btn" onclick="location.href='/'" type="button">
      Home Page
    </button>
  </body>
</html>
