<!DOCTYPE html>
<html>
  <head>
    <title>Image</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/step1.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/buttons.css') }}"
    />
  </head>
  <body>
    <button type="button" class="next-and-pre-btn" onclick="location.href='/'">
      <
    </button>
    <img
      src="{{ url_for('plot_step1', sample_size=sample_size, num_clusters=num_clusters, noise=noise) }}"
      alt="Image"
      class="center"
    />
    <button
      type="button"
      class="next-and-pre-btn"
      onclick="location.href='/step2'"
    >
      >
    </button>
  </body>
</html>
